body {
    text-align: center;
    color: #4ea9ff;
    background-color: #CDB4DB;
    background-image: url(images/Karamela\ Tile\ 1.png);
}

h2 {
    color: #ff81af;
}

.content {
    background-color: #FFC8DD;
    padding: 10px;
    margin-left: -2%;
    margin-right: -2%;
}

.header {
    color: #4ea9ff;
    background-color: #a2d2ff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 15px;
    margin-top: -2%;
    margin-left: -2%;
    margin-right: -2%;
}

.nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 0px;
    font-size: 18px;
    margin-bottom: 20px;
}

.nav a {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 24px;
    padding-right: 24px;
}
