body {
    text-align: center;
    color: #1d3557;
    background-color: #f7fbf6;
}

h2 {
    color: #e63946;
}

.content {
    background-color: #1d3557;
    padding: 10px;
    margin-left: -2%;
    margin-right: -2%;
}

.header {
    color: #a8dadc;
    background-color: #457b9d;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 15px;
    margin-top: -2%;
    margin-left: -2%;
    margin-right: -2%;
}

.nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 0px;
    font-size: 18px;
    margin-bottom: 20px;
}

.nav a {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 24px;
    padding-right: 24px;
}